<%= javascript_include_tag 'jquery.easing', 'jquery.collapse' %>
<script type="text/javascript" language="JavaScript">
$(document).ready(function() {		
		
    $("#post_team_id").change(function() {
    	selected_team = this.options[this.selectedIndex].text;
    	// récupération du correct volume horaire; journalier pour les équipes journalières et matin aprem nuit pour les non journalières
    	$(this).get_correct_time_description(selected_team);
  		hidde_lines_for_daily_teams(selected_team, "<%= url_for :action => 'daily_team', :controller => 'workshops' %>");	
    });
    
    function hidde_lines_for_daily_teams(selected_team, url){
    	$.ajax({      
        url: url,
        data: selected_team,
        dataType: "text",
        error: function(){  }, //alert("Votre session a expié. Veuillez vous déconnecter et vous reconnecter.");
        success: function(response, response_status, xhr) {
       		if (response == "true"){
						$("#lines").hide("slow");						
					}
					else {
						$("#lines").show("slow");
					}
		    }
      });
    }
    
    $.fn.get_correct_time_description = function(selected_team) {            
      $.ajax({      
        url: "<%= url_for :action => 'get_correct_time_description', :controller => 'workshops' %>",
        data: selected_team,
        dataType: "text",
        error: function(){ alert("Votre session a expiré. Veuillez vous déconnecter et vous reconnecter."); },
        success: function(response, response_status, xhr) {
        
          $("#monday_rolling_type").children().remove();
          $("#tuesday_rolling_type").children().remove();
          $("#wednesday_rolling_type").children().remove();
          $("#thursday_rolling_type").children().remove();
          $("#friday_rolling_type").children().remove();
          $("#saturday_rolling_type").children().remove();
          $("#sunday_rolling_type").children().remove();
          
          $(response).appendTo("#monday_rolling_type");  
          $(response).appendTo("#tuesday_rolling_type");
          $(response).appendTo("#wednesday_rolling_type");
          $(response).appendTo("#thursday_rolling_type");
          $(response).appendTo("#friday_rolling_type");
          $(response).appendTo("#saturday_rolling_type");
          $(response).appendTo("#sunday_rolling_type");      
        }
      }); 
    }

		$(function(){				
			$('#collapser').jqcollapse({
			   slide: true,
			   speed: 1000,
			   easing: 'easeOutCubic'
			});				
		});
		
});
</script>

<h2 class="top-title">Configuration équipe-lignes || Plan de production du <%= @beginning_of_next_week.strftime("%d") %> au <%= @end_of_next_week.strftime("%d %B %Y") %></h2><br />
<div class="column_large_left">
	<div class="portlet" id="widget-1">
    <div class="portlet-header">Choix des équipes et de leur nombre d'heures de travail</div>
    	<div class="portlet-content"> 
    		<% if !Date.today.wday.eql?(0) %>
    		<%= form_tag save_current_week_configuration_plan_path do %>   	
    			<div id= "space"><%= label_tag "Equipe" %><br />
					<%= collection_select(:post, :team_id, @configured_teams_table, :id, :team_name, options ={:prompt => "-Veuillez choisir une équipe-"}) %></div>							
					
					<div id = "lines">
						<ul id="collapser">
							<% unless @workshop.eql?(nil) %>
							<% unless @workshop.sections.eql?(nil) %>												
								<% @workshop.sections.each do |section| %>
									<li><div class = "direction section" style = "font-weight: bold;"><%= section.section_name %></div>
										<ul>
											<% unless section.lines.eql?(nil) %>
												<% section.lines.each do |line| %>
													<li>
														<div class = "direction line" style = "font-weight: bold;"><%= line.line_name %>&nbsp;&nbsp;<%= check_box("post", "#{line.id}") %></div>
													</li>
												<% end %>
											<% end %>
										</ul>
									</li>
								<% end %>												
							<% end %>
							<% end %>		
						</ul>
						<br />
					</div>
										
					<table class="list-table">
						<thead class = "ui-widget-header ui-corner-all">
							<tr>					
								<% if 1 > Date.today.wday %>
									<th width="14%">Lundi</th>
								<% end %>
								<% if 2 > Date.today.wday %>
									<th width="14%">Mardi</th>
								<% end %>
								<% if 3 > Date.today.wday %>
									<th width="14%">Mercredi</th>
								<% end %>
								<% if 4 > Date.today.wday %>
									<th width="14%">Jeudi</th>
								<% end %>
								<% if 5 > Date.today.wday %>
									<th width="14%">Vendredi</th>
								<% end %>
								<% if 6 > Date.today.wday %>
									<th width="14%">Samedi</th>
								<% end %>
								<% if 7 > Date.today.wday %>
									<th width="14%">Dimanche</th>
								<% end %>
							</tr>
						</thead>
						<tbody>
							<tr class = "odd">
								<% if 1 > Date.today.wday %>
									<td class = "ui-widget-content">
										<%= select_tag "monday_rolling_type", options_for_select(["Horaire"], "Horaire"), :style => "width:100%; font-size: 65%;" %>
									</td>	
								<% end %>
								<% if 2 > Date.today.wday %>
									<td class = "ui-widget-content">
										<%= select_tag "tuesday_rolling_type", options_for_select(["Horaire"], "Horaire"), :style => "width:100%; font-size: 65%;" %>
									</td>
								<% end %>
								<% if 3 > Date.today.wday %>
									<td class = "ui-widget-content">
										<%= select_tag "wednesday_rolling_type", options_for_select(["Horaire"], "Horaire"), :style => "width:100%; font-size: 65%;" %>
									</td>
								<% end %>
								<% if 4 > Date.today.wday %>
									<td class = "ui-widget-content">
										<%= select_tag "thursday_rolling_type", options_for_select(["Horaire"], "Horaire"), :style => "width:100%; font-size: 65%;" %>
									</td>
								<% end %>
								<% if 5 > Date.today.wday %>
									<td class = "ui-widget-content">
										<%= select_tag "friday_rolling_type", options_for_select(["Horaire"], "Horaire"), :style => "width:100%; font-size: 65%;" %>
									</td>
								<% end %>
								<% if 6 > Date.today.wday %>
									<td class = "ui-widget-content">
										<%= select_tag "saturday_rolling_type", options_for_select(["Horaire"], "Horaire"), :style => "width:100%; font-size: 65%;" %>
									</td>
								<% end %>
								<% if 7 > Date.today.wday %>
									<td class = "ui-widget-content">
										<%= select_tag "sunday_rolling_type", options_for_select(["Horaire"], "Horaire"), :style => "width:100%; font-size: 65%;" %>
									</td>	
								<% end %>
							</tr>
						</tbody>
					</table>
					<br />
  				<%= submit_tag "Valider", :class => 'submit button large ui-corner-all', :disable_with => 'Patientez...' %>
				<% end %>	
				<% end %>							
			</div>
	</div>
</div>

<div class="column_right">
	<div class="portlet" id="widget-2">
    <div class="portlet-header">Visualisation</div>
    	<div class="portlet-content">    								
				<ul id="collapser">
					<% unless @configured_teams_table.empty? %>
						<% @configured_teams_table.each do |configured_team| %>
							<li><div class = "direction team" style = "font-weight: bold;"><%= configured_team.team_name %></div>							
								<ul>
									<% Configuration.where("week_number = #{Date.today.cweek} AND team_id = #{configured_team.id}").each do |configuration| %>
										<% configuration.lines.each do |line| %>
											<li>
												<div class = "direction line" style = "font-weight: bold;"><%= line.line_name %> &nbsp;
												<% unless configuration.lines.count < 2 %>
													<%= link_to "", delete_line_path(:configuration => configuration, :line => line), :confirm => "Êtes vous sûr de vouloir supprimer cette ligne?", :class => "direction delete_button" %>
												<% end %>
												</div>
											</li>
										<% end %>
											<li>Jours de travail
												<ul>
													<% unless configuration.rolling_monday.eql?(nil) %>
													<li>
														<div class = "day" style = "font-weight: bold;">Lundi: <%= configuration.rolling_monday.time_description %>&nbsp;
															<% unless configuration.count_rolling_days(configuration) < 2 %>
																<%= link_to "", delete_working_day_path(:rolling_day_id => configuration.rolling_monday, :model_name => RollingMonday, :configuration => configuration, :french_date_name => "Lundi", :day_to_check => 1), :confirm => "Êtes vous sûr de vouloir supprimer le lundi de la configuration?", :class => "direction delete_button" %>
															<% end %>
														</div>
													</li>
													<% end %>
													<% unless configuration.rolling_tuesday.eql?(nil) %>
													<li>
														<div class = "day" style = "font-weight: bold;">Mardi: <%= configuration.rolling_tuesday.time_description %>&nbsp;
															<% unless configuration.count_rolling_days(configuration) < 2 %>
																<%= link_to "", delete_working_day_path(:rolling_day_id => configuration.rolling_tuesday, :model_name => RollingTuesday, :configuration => configuration, :french_date_name => "Mardi", :day_to_check => 2), :confirm => "Êtes vous sûr de vouloir supprimer le mardi de la configuration?", :class => "direction delete_button" %>
															<% end %>
														</div>
													</li>
													<% end %>
													<% unless configuration.rolling_wednesday.eql?(nil) %>
													<li>
														<div class = "day" style = "font-weight: bold;">Mercredi: <%= configuration.rolling_wednesday.time_description %>&nbsp;
															<% unless configuration.count_rolling_days(configuration) < 2 %>
																<%= link_to "", delete_working_day_path(:rolling_day_id => configuration.rolling_wednesday, :model_name => RollingWednesday, :configuration => configuration, :french_date_name => "Mercredi", :day_to_check => 3), :confirm => "Êtes vous sûr de vouloir supprimer le mercredi de la configuration?", :class => "direction delete_button" %>
															<% end %>
														</div>
													</li>
													<% end %>
													<% unless configuration.rolling_thursday.eql?(nil) %>
													<li>
														<div class = "day" style = "font-weight: bold;">Jeudi: <%= configuration.rolling_thursday.time_description %>&nbsp;
															<% unless configuration.count_rolling_days(configuration) < 2 %>
																<%= link_to "", delete_working_day_path(:rolling_day_id => configuration.rolling_thursday, :model_name => RollingThursday, :configuration => configuration, :french_date_name => "Jeudi", :day_to_check => 4), :confirm => "Êtes vous sûr de vouloir supprimer le jeudi de la configuration?", :class => "direction delete_button" %>
															<% end %>
														</div>
													</li>
													<% end %>
													<% unless configuration.rolling_friday.eql?(nil) %>
													<li>
														<div class = "day" style = "font-weight: bold;">Vendredi: <%= configuration.rolling_friday.time_description %>&nbsp;
															<% unless configuration.count_rolling_days(configuration) < 2 %>
																<%= link_to "", delete_working_day_path(:rolling_day_id => configuration.rolling_friday, :model_name => RollingFriday, :configuration => configuration, :french_date_name => "Vendredi", :day_to_check => 5), :confirm => "Êtes vous sûr de vouloir supprimer le vendredi de la configuration?", :class => "direction delete_button" %>
															<% end %>
														</div>
													</li>
													<% end %>
													<% unless configuration.rolling_saturday.eql?(nil) %>
													<li>
														<div class = "day" style = "font-weight: bold;">Samedi: <%= configuration.rolling_saturday.time_description %>&nbsp;
															<% unless configuration.count_rolling_days(configuration) < 2 %>
																<%= link_to "", delete_working_day_path(:rolling_day_id => configuration.rolling_saturday, :model_name => RollingSaturday, :configuration => configuration, :french_date_name => "Samedi", :day_to_check => 6), :confirm => "Êtes vous sûr de vouloir supprimer le samedi de la configuration?", :class => "direction delete_button" %>
															<% end %>
														</div>
													</li>
													<% end %>
													<% unless configuration.rolling_sunday.eql?(nil) %>
													<li>
														<div class = "day" style = "font-weight: bold;">Dimanche: <%= configuration.rolling_sunday.time_description %>&nbsp;
															<% unless configuration.count_rolling_days(configuration) < 2 %>
																<%= link_to "", delete_working_day_path(:rolling_day_id => configuration.rolling_sunday, :model_name => RollingSunday, :configuration => configuration, :french_date_name => "Dimanche", :day_to_check => 0), :confirm => "Êtes vous sûr de vouloir supprimer le dimanche de la configuration?", :class => "direction delete_button" %>
															<% end %>
														</div>
													</li>
													<% end %>
												</ul>
											</li>
									<% end %>									
								</ul>							
							</li>
						<% end %>
					<% end %>
				</ul>										
			</div>
	</div>
</div>
