<%= hidden_field_tag casual.id %>
<% 
	@partialh15 = 0 
	@partialh50 = 0
	@partialh75 = 0
	@partialh100 = 0
	@partialpp = 0
	@hours = @hours_worked = hours_worked(casual, @week_number, @section.id)
%>
<tr class = "odd">
	<td class = "ui-widget-content">
		<%= casual.identifier %>
	</td>
	<td class = "ui-widget-content">
		<%= casual.firstname+ " "+casual.lastname %>
	</td>																				
		<% @ticking = casual.tickings.find_by_week_number(@week_number) %>
		<% if @ticking.nil? %>
			<td class = "ui-widget-content">
				0
			</td>
			<td class = "ui-widget-content">
				0
			</td>
			<td class = "ui-widget-content">
				0
			</td>
			<td class = "ui-widget-content">
				0
			</td>
			<td class = "ui-widget-content">
				0
			</td>
			<td class = "ui-widget-content">
				0
			</td>
			<td class = "ui-widget-content">
				0
			</td>		
			<td class = "ui-widget-content">
				0
			</td>			
			<td class = "ui-widget-content">
				0
			</td>
			<td class = "ui-widget-content">
				0
			</td>
			<td class = "ui-widget-content">
				0
			</td>		
			<td class = "ui-widget-content">
				0
			</td>		
			<td class = "ui-widget-content">
				0
			</td>		
			<td class = "ui-widget-content">
				0
			</td>	
		<% else %>	
			<td>
				<% 
					@res = workshop_chief_ticking("monday", @week_number, casual, @section.id, 1) 
					@partialpp += @res["partialpp"]
					@partialh75 += @res["partialh75"]
					@partialh100 += @res["partialh100"]				
				%>
				<%= @res["ticking_displayed"] %>
			</td>
			
			<td>
				<% 
					@res = workshop_chief_ticking("tuesday", @week_number, casual, @section.id, 2) 
					@partialpp += @res["partialpp"]
					@partialh75 += @res["partialh75"]
					@partialh100 += @res["partialh100"]				
				%>
				<%= @res["ticking_displayed"] %>
			</td>
			
			<td>
				<% 
					@res = workshop_chief_ticking("wednesday", @week_number, casual, @section.id, 3) 
					@partialpp += @res["partialpp"]
					@partialh75 += @res["partialh75"]
					@partialh100 += @res["partialh100"]				
				%>
				<%= @res["ticking_displayed"] %>
			</td>
			
			<td>
				<% 
					@res = workshop_chief_ticking("thursday", @week_number, casual, @section.id, 4) 
					@partialpp += @res["partialpp"]
					@partialh75 += @res["partialh75"]
					@partialh100 += @res["partialh100"]				
				%>
				<%= @res["ticking_displayed"] %>
			</td>
			
			<td>
				<% 
					@res = workshop_chief_ticking("friday", @week_number, casual, @section.id, 5) 
					@partialpp += @res["partialpp"]
					@partialh75 += @res["partialh75"]
					@partialh100 += @res["partialh100"]				
				%>
				<%= @res["ticking_displayed"] %>
			</td>
							
			<td>
				<% 
					@res = workshop_chief_ticking("saturday", @week_number, casual, @section.id, 6) 
					@partialpp += @res["partialpp"]
					@partialh75 += @res["partialh75"]
					@partialh100 += @res["partialh100"]				
				%>
				<%= @res["ticking_displayed"] %>
			</td>
											
			<td>
				<% 
					@res = workshop_chief_ticking("sunday", @week_number, casual, @section.id, 0) 
					@partialpp += @res["partialpp"]
					@partialh75 += @res["partialh75"]
					@partialh100 += @res["partialh100"]				
				%>
				<%= @res["ticking_displayed"] %>
			</td>
			
			<td>
				<%= @hours_worked %>
				<% @op_global_hours_worked += @hours_worked %>
			</td>		
			
			<td>
<!-- Si le nombre d'heures travaillées est inférieur à 47 et supérieur à 40: 15% -->	
				<% @hours = @hours - @partialh75 - @partialh100 %>
				<% unless casual.team.daily %>					
					<% if ((@hours > 40) && (@hours < 47)) %>
						<%= @hours - 40 %>
						<% @partialh15 += @hours - 40 %>
						<% @op_global_h15 += @partialh15 %>
						<% @op_cash_amount += (CasualType.find_by_type_name("Cariste").hourly_rate * (1 + 0.15) * @partialh15) %>
					<% else %>
	<!-- Si le nombre d'heures travaillées est supérieur à 46 -->	
						<% if @hours > 46 %>
							6
							<% @partialh15 += 6 %>
							<% @op_global_h15 += 6 %>
							<% @op_cash_amount += (CasualType.find_by_type_name("Cariste").hourly_rate * (1 + 0.15) * @partialh15) %>
							<%# @hours = @hours - 46 %>
<!-- Si le nombre d'heures travaillées est inférieur ou égal à 40 -->
						<% else %>
							0
						<% end %>
					<% end %>
				<% end %>
			</td>
			
			<td class = "ui-widget-content">
				<% unless casual.team.daily %>
<!-- Si le nombre d'heures travaillées est supérieur à 46: 50% -->	
					<% if @hours > 46 %>
						<%= @hours - 46 %>
						<% @partialh50 += @hours - 46 %>
						<% @op_global_h50 += @partialh50 %>
						<% @op_cash_amount += (CasualType.find_by_type_name("Cariste").hourly_rate * (1 + 0.5) * @partialh50) %>
	<!-- Si le nombre d'heures travaillées est inférieur ou égal à 40 -->
					<% else %>
						0
					<% end %>
				<% end %>
			</td>										
			
			<td class = "ui-widget-content">
				<%= @partialh75 %>
				<% @op_global_h75 += @partialh75 %>
				<% @op_cash_amount += (CasualType.find_by_type_name("Cariste").hourly_rate * (1 + 0.75) * @partialh75) %>
			</td>
			
			<td class = "ui-widget-content">
				<%= @partialh100 %>
				<% @op_global_h100 += @partialh100 %>
				<% @op_cash_amount += (CasualType.find_by_type_name("Cariste").hourly_rate * (1 + 1) * @partialh100) %>
			</td>
			
			<td class = "ui-widget-content">
				<%= @hours = @hours_worked- @partialh15 - @partialh50 - @partialh75 - @partialh100 %>
				<% @global_normals_hours += @hours %>	
				<% @op_cash_amount += (@hours * CasualType.find_by_type_name("Cariste").hourly_rate) %>				
			</td>		
			
			<td class = "ui-widget-content">
				<%= @partialpp %>	
				<% @global_pp += @partialpp %>		
				<% @op_cash_amount += (@partialpp * CasualType.find_by_type_name("Cariste").prime) %>
			</td>			
			
			<% @number_of_operators += 1 %>
		<% end %> 																									
</tr>
