<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>BreakFast by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<style type="text/css" media="screen">
/********* GLOBAL SETTINGS **********/
*{
	margin:0; 
	padding:0; 
	font-size:100%; 
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.5em;
	font-weight:400;
	list-style:none;
}

html, body {
	height: 100%;
}

img{
	border:none;
}
a{
	outline:none;
}

h2{
	font-size:16px;
	font-weight:bold;
}

h3{
	font-weight:bold;
	color:#111; 
	font-size:1.0em; 
	text-transform:uppercase; 
	margin-bottom:8px;
}

/*************************************/


/********** BODY BACKGROUND **********/
body{
	background-color:#FEFEFE;
}

/*************************************/
		
  .top-title{
		color:#111; 
		font-size:1.4em; 
		text-transform:uppercase; 
		padding:10px 10px 2px 10px;
		font-weight:bold;
		background:url(<%= image_path("#{RAILS_ROOT}/public/images/structure/divider.png") %>) no-repeat bottom left;
		margin-bottom:8px;
	}
	
	.short-title{
		color:#111; 
		font-size:1em; 
		text-transform:uppercase; 
		padding:10px 10px 2px 10px;
		font-weight:bold;
		background:url(<%= image_path("#{RAILS_ROOT}/public/images/structure/divider.png") %>) no-repeat bottom left;
		margin-bottom:8px;
	}
	
	.list-table {
	border-collapse:collapse;
	margin:0px auto; 
	width:98%; 
	border:1px solid grey;
	/*border-color:#595959;*/
}

.list-table tr.active td{
	font-size:0.9em; 
	background:#EDEDED;
}

.list-table th, .mini-.list-table th {
	color:#DDD;
	padding:5px;
	background-color: #595959;
	text-align:left; 
	font-weight:bold;
	color:#FFF;
	border:solid 1px #595959;
}

.list-table td {
	padding:10px; 
	color:#111;
	border:solid 1px #595959;
}
.list-table td.sub {
	padding-left:15px;
	text-align:left;
}

.list-table tr.odd td {
	background:url(<%= image_path("#{RAILS_ROOT}/public/images/structure/bg-td.png") %>) repeat-x scroll 0 100% transparent;
}
</style>

</head>
<body>

<h2 class="top-title">Fiche de pointage du <%= Date.today.beginning_of_week.strftime("%d") %> au <%= Date.today.end_of_week.strftime("%d %B %Y") %><br />
Atelier: <%= @team.workshop.workshop_name %> || équipe: <%= @team.team_name %>
</h2><br />

<% 
	 @global_hours_worked = 0
	 @global_normals_hours = 0
	 @global_h15 = 0
	 @global_h50 = 0
	 @global_h75 = 0
	 @global_h100 = 0
	 @global_pp = 0
	 @cash_amount = 0
%>
<table class="list-table">
	<thead>
		<tr>		
			<th width="24%">Matricule</th>		
			<th width="28%">Nom</th>	
			<th width="4%">
				<% if holiday?(@week_number, 1) %>
					<div style=" color:#000; font-weight:bold;">Lun</div>
				<% else %>
					Lun
				<% end %>				
			</th>
			<th width="4%">
				<% if holiday?(@week_number, 2) %>
					<div style=" color:#000; font-weight:bold;">Mar</div>
				<% else %>
					Mar
				<% end %>				
			</th>
			<th width="4%">
				<% if holiday?(@week_number, 3) %>
					<div style=" color:#000; font-weight:bold;">Mer</div>
				<% else %>
					Mer
				<% end %>				
			</th>
			<th width="4%">
				<% if holiday?(@week_number, 4) %>
					<div style=" color:#000; font-weight:bold;">Jeu</div>
				<% else %>
					Jeu
				<% end %>				
			</th>
			<th width="4%">
				<% if holiday?(@week_number, 5) %>
					<div style=" color:#000; font-weight:bold;">Ven</div>
				<% else %>
					Ven
				<% end %>				
			</th>
			<th width="4%">
				<% if holiday?(@week_number, 6) %>
					<div style=" color:#000; font-weight:bold;">Sam</div>
				<% else %>
					Sam
				<% end %>				
			</th>
			<th width="4%">
				<% if holiday?(@week_number, 0) %>
					<div style=" color:#000; font-weight:bold;">Dim</div>
				<% else %>
					Dim
				<% end %>				
			</th>
			<th width="5%">NH</th>			
			<th width="5%">H75%</th>
			<th width="5%">H100%</th>
			<th width="5%">HN</th>
			<th width="4%">PP</th>
		</tr>
	</thead>
	<tbody>		
		<% if @casuals.empty? %>
			<tr>
				<td colspan = 14 class = "ui-widget-content" >Aucun temporaire à pointer</td>									
			</tr>
		<% else %>
			
<!-- Temporaires normaux -->
			<% unless @normals.empty? %>
				<tr>
					<td colspan = 14 class = "ui-widget-content" ><h3>Normaux</h3></td>									
				</tr>
				<% @normals.each do |casual| %>				
					<%= render :partial => "normals_ticking_report_table", :locals => { :casual => casual, :week_number => @week_number, :configuration => @configuration, :global_hours_worked => @global_hours_worked, :global_normals_hours => @global_normals_hours, :global_h15 => @global_h15, :global_h50 => @global_h50, :global_h75 => @global_h75, :global_h100 => @global_h100, :global_pp => @global_pp, :cash_amount => @cash_amount } %>
				<% end %>
			<% end %>
<!-- Caristes -->	
			<% unless @operators.empty? %>		
				<tr>
					<td colspan = 14 class = "ui-widget-content" ><h3>Caristes</h3></td>									
				</tr>
				<% @operators.each do |casual| %>				
					<%= render :partial => "operators_ticking_report_table", :locals => { :casual => casual, :week_number => @week_number, :configuration => @configuration, :global_hours_worked => @global_hours_worked, :global_normals_hours => @global_normals_hours, :global_h15 => @global_h15, :global_h50 => @global_h50, :global_h75 => @global_h75, :global_h100 => @global_h100, :global_pp => @global_pp, :cash_amount => @cash_amount } %>
				<% end %>
			<% end %>	
			<tr>
				<td colspan = 9 class = "ui-widget-content" ><h3>Totaux</h3></td>							
				<td class = "ui-widget-content" ><h3><%= @global_hours_worked %></h3></td>					
				<td class = "ui-widget-content" ><h3><%= @global_h75 %></h3></td>			
				<td class = "ui-widget-content" ><h3><%= @global_h100 %></h3></td>			
				<td class = "ui-widget-content" ><h3><%= @global_normals_hours %></h3></td>			
				<td class = "ui-widget-content" ><h3><%= @global_pp %></h3></td>									
			</tr>	
		<% end %>
	</tbody>
</table>	
<br />
<h3>Effectif: <%= @casuals.count %><br />
Nombre total d'heures: <%= @global_hours_worked %><br />
Heures normales: <%= @global_normals_hours %><br />
Heures 75%: <%= @global_h75 %><br />
Heures 100%: <%= @global_h100 %><br />
Prime panier: <%= @global_pp %><br />
Montant total: <%= @cash_amount %></h3>

<h2 class="short-title">
	<div style="float: left;;">Visa chef de production</div>
	<div style="float: right;">Visa direction des<br />ressources humaines</div>
	<div align = "center">Visa directeur <%= Workshop.find(current_user.status_number).workshop_name %></div>	
</div>
<br />
</body>
</html>
