<%= javascript_include_tag 'jquery.easing', 'jquery.collapse' %>
<script type="text/javascript">	
$(function(){	
	$('#collapser').jqcollapse({
		 slide: true,
		 speed: 1000,
		 easing: 'easeOutCubic'
	});	
});	
</script>

<h2 class="top-title">Affectation des temporaires aux lignes</h2><br />
<div class="column_large_left">
	<div class="portlet" id="widget-1">
    <div class="portlet-header">Temporaires à affecter</div>
    	<div class="portlet-content"> 
    		<%= form_tag casual_allocation_to_line_path do %> 
    		
    			<ul id="collapser">
    				<% unless @sections_array.empty? %>
    					<% @sections_array.each do |section_name| %>
    							<li><div class = "direction section" style = "font-weight: bold;"><%= Section.find_by_section_name(section_name).section_name %></div>
										<ul>
												<% Section.find_by_section_name(section_name).lines.where("id IN (#{@line_ids})").each do |line| %>
													<li>
														<div class = "direction line" style = "font-weight: bold;"><%= line.line_name %>&nbsp;&nbsp;<%= radio_button("post", "line", line.line_name) %></div>
													</li>
												<% end %>
										</ul>
									</li>
    					<% end %>
    				<% end %>    									
					</ul>  	
  						
					<table class="list-table">
						<thead class = "ui-widget-header ui-corner-all">
							<tr>
								<!--<th width="14%">Matricule</th>-->							
								<th width="26%">Nom</th>
								<th width="16%">Compagnie</th>
								<th width="14%">Type</th>
								<th width="18%">Date d'entrée</th>
								<th width="12%">Affecter</th>
								<th width="14%"></th>
							</tr>
						</thead>
						<tbody>
							<% if @casuals.empty? %>
								<tr>
									<td colspan = 6 class = "ui-widget-content" >Aucun temporaire à affecter</td>									
								</tr>
							<% else %>
								<% @casuals.each do |casual| %>
									<% if @tr_color %>
										<tr class = "odd">
									<% else %>
										<tr>
									<% end %>									
										<td class = "ui-widget-content">
											<%= casual.firstname %> <%= casual.lastname %>
										</td>	
										<td class = "ui-widget-content">
											<%= Company.find_by_id(casual.company_id).company_name %>
										</td>	
										<td class = "ui-widget-content">
												<%= CasualType.find_by_id(casual.casual_type_id).type_name %>
										</td>
										<td class = "ui-widget-content">
											<%= casual.migration_dates.last.entrance_date.strftime("%d-%m-%Y") %>
										</td>	
										<td class = "ui-widget-content">
											<%= check_box("post", "#{casual.id}") %>
										</td>	
										<td class = "ui-widget-content">
										  <%= link_to "Retirer", remove_from_team_path(casual.id), :confirm => "Êtes vous sûr de vouloir supprimer ce temporaire de l'équipe?", :class => "direction delete_button", :style => "font-weight: bold;" %>
										</td>		
									</tr>
									<% @tab_color = !@tab_color %>			
								<% end %>
							<% end %>
						</tbody>
					</table>
					<div id="pagination">
						<%= will_paginate @casuals %>
					</div>
					<br />
  				<%= submit_tag "Affecter", :class => 'submit button large ui-corner-all', :disable_with => 'Patientez...' %>
				<% end %>				
			</div>
	</div>
</div>

<div class="column_right">	
	<div class="portlet" id="widget-2">
    <div class="portlet-header">Lignes || Plan de production</div>
    	<div class="portlet-content">    								
				<ul id="collapser">
					<% if @configuration.empty? %>
						Vous n'avez pas été programmé pour cette semaine.
					<% else %>
					<% @configuration.each do |configuration| %>
						<% unless @sections_array.empty? %>
    					<% @sections_array.each do |section_name| %>
									<li><div class = "direction section" style = "font-weight: bold;"><%= Section.find_by_section_name(section_name).section_name %></div>
										<ul>
											<% Section.find_by_section_name(section_name).lines.where("id IN (#{@line_ids})").each do |line| %>
												<li>
													<div class = "direction line" style = "font-weight: bold;">
														<%= line.line_name %> &nbsp; (<%= Casual.where("team_id = #{@team.id} AND line_id = #{line.id}").count %>)
														</div>
														<% unless Casual.where("team_id = #{@team.id} AND line_id = #{line.id}").empty? %>
															<ul>
																<% Casual.where("team_id = #{@team.id} AND line_id = #{line.id}").each do |casual| %>
																	<script type="text/javascript">
																		$(document).ready(function(){
																			$("#casual_<%= casual.id %>").CreateBubblePopup({
																				position : 'top',
																				align	 : 'center',
																				tail : {hidden: true
																				},									
																				innerHtml: "Matricule: <%= casual.identifier %><br>Numéro de mobile: <%= casual.phone_number %><br>Compagnie: <%= Company.find_by_id(casual.company_id).company_name %><br>Type: <%= CasualType.find_by_id(casual.casual_type_id).type_name %>",
																				innerHtmlStyle: {
																					color:'#FFFFFF', 
																					'text-align':'left',
																					padding:'2px',
																					'font-size':'13px'
																				},																		
																				themeName: 	'all-black',
																				themePath: 	'../../images/jquerybubblepopup-theme'								 
																			});
																		});
																		</script>										
																		<li>
																			<% div_for (casual) do %>
																				<%= casual.firstname+ " " +casual.lastname %> &nbsp;<%= link_to "", remove_from_line_path(casual.id), :confirm => "Êtes vous sûr de vouloir retirer ce temporaire de la ligne?", :class => "direction delete_button", :style => "font-weight: bold;" %>
																			<% end %>
																		</li>
																<% end %>
															</ul>
														<% end %>
												</li>
											<% end %>
										</ul>
									</li>
								<% end %>
							<% end %>
							<li>Jours de travail
								<ul>
									<% unless configuration.rolling_monday.eql?(nil) %>
									<li>
										<div class = "day" style = "font-weight: bold;">Lundi: <%= configuration.rolling_monday.time_description %>
									</li>
									<% end %>
									<% unless configuration.rolling_tuesday.eql?(nil) %>
									<li>
										<div class = "day" style = "font-weight: bold;">Mardi: <%= configuration.rolling_tuesday.time_description %>
										</div>
									</li>
									<% end %>
									<% unless configuration.rolling_wednesday.eql?(nil) %>
									<li>
										<div class = "day" style = "font-weight: bold;">Mercredi: <%= configuration.rolling_wednesday.time_description %>
										</div>
									</li>
									<% end %>
									<% unless configuration.rolling_thursday.eql?(nil) %>
									<li>
										<div class = "day" style = "font-weight: bold;">Jeudi: <%= configuration.rolling_thursday.time_description %>
										</div>
									</li>
									<% end %>
									<% unless configuration.rolling_friday.eql?(nil) %>
									<li>
										<div class = "day" style = "font-weight: bold;">Vendredi: <%= configuration.rolling_friday.time_description %>
										</div>
									</li>
									<% end %>
									<% unless configuration.rolling_saturday.eql?(nil) %>
									<li>
										<div class = "day" style = "font-weight: bold;">Samedi: <%= configuration.rolling_saturday.time_description %>
										</div>
									</li>
									<% end %>
									<% unless configuration.rolling_sunday.eql?(nil) %>
									<li>
										<div class = "day" style = "font-weight: bold;">Dimanche: <%= configuration.rolling_sunday.time_description %>
										</div>
									</li>
									<% end %>
								</ul>
							</li>
					<% end %>	
					<% end %>																
				</ul>										
			</div>
	</div>
</div>
