
<h2 class="top-title">Modifier un utilisateur</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%#= devise_error_messages! %>
  
  <div><%= f.label 'Nom' %><br />
  <%= f.text_field :firstname %></div>
  
  <div><%= f.label 'Prénoms' %><br />
  <%= f.text_field :lastname %></div>
  
  <div><%= f.label 'Numéro fixe' %><br />
  <%= f.text_field :phone_number %></div>
  
  <div><%= f.label 'Numéro mobile' %><br />
  <%= f.text_field :mobile_number %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Valider", :disable_with => 'Patientez...' %></div>
<% end %>
<!--
<h3>Cancel my account</h3>

<p>Unhappy? <%#= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>-->
<br />
<%= link_to "Retour", :back %>
