<script type="text/javascript" language="JavaScript">
$(document).ready(function() {
  	$(function(){
  		hideAll();
  		search_ajax_on_load();
		});
    
    $("#post_direction_id").change(function() {
    	selected_direction = this.options[this.selectedIndex].text; 
			pleaseSelectDirection(selected_direction);
    });
    
    $(".radio_button").change(function() {
      $(this).search_ajax();
    });
    
    $("#search").keyup(function() { 
      $(this).search_ajax();    
    });
    
    $.fn.search_ajax = function() { 
      var v_search = $('#search').val();  
      var v_status = $("input[name='status']:checked").val()            
      $.ajax({   
        url: "<%= url_for :action => 'search_ajax', :controller => 'casuals' %>",
	      type: "GET",
        data: {query: v_search, status: v_status},
        error: function(){ 
        	alert("Votre session a expiré. Veuillez vous déconnecter et vous reconnecter.");
        },
        success: function(response, response_status, xhr) {
          $("#result").html(response);       
        }
      });  
    }
    
    function search_ajax_on_load() {  
      var v_search = $('#search').val();  
      var v_status = $("input[name='status']:checked").val()            
      $.ajax({   
        url: "<%= url_for :action => 'search_ajax', :controller => 'casuals' %>",
	      type: "GET",
        data: {query: v_search, status: v_status},
        error: function(){ 
        	alert("Votre session a expiré. Veuillez vous déconnecter et vous reconnecter.");
        },
        success: function(response, response_status, xhr) {
          $("#result").html(response);        
        }
      });  
    }
     
    $.fn.getComboBoxValues = function(selected_value, target_tag, url) {
      $.ajax({      
        url: url,
        data: selected_value,
        dataType: "text",
        error: function(){ alert("Votre session a expiré. Veuillez vous déconnecter et vous reconnecter."); },
        success: function(response, response_status, xhr) {
          $(target_tag).children().remove();
          $(response).appendTo(target_tag);        
        }
      });
    } 
       
    function pleaseSelectDirection(selected_direction){
    	if (selected_direction == "-Veuillez choisir une direction-"){
				$("#workshop").hide("slow");
			}
			else {
				$(this).getComboBoxValues(selected_direction, "#workshop_name", "<%= url_for :action => 'get_workshops', :controller => 'devise/registrations' %>");
				showWorkshop("slow");
			}
    }
        
		function showWorkshop(slow){ 
    	$("#workshop").show(slow);
		}
		
		function hideAll(slow){ 
    	$("#workshop").hide(slow);
		} 
		
});
</script>

<h2 class="top-title">Temporaires</h2><br />

<div class="column">
	<div class="portlet" id="widget-1">
    <div class="portlet-header">Création</div>
    	<div class="portlet-content">
				<%= form_for(@casual, :url => create_casual_path) do |f| %>

					<div id= "space"><%= f.label 'Nom' %><br />
					<%= f.text_field :firstname %></div>
		
					<div id= "space"><%= f.label 'Prénoms' %><br />
					<%= f.text_field :lastname  %></div>
					
					<div id= "space"><%= f.label 'Numéro de téléphone' %><br />
					<%= f.text_field :phone_number  %></div>
		
					<div id= "space"><%= f.label 'Date de naissance' %><br />
					<%= f.date_select :birthdate, :start_year => (Time.now.year - 80), :end_year => (Time.now.year - 15), :use_month_numbers => true %></div>
		
					<div id= "space"><%= f.label "Matricule" %><br />
					<%= f.text_field :identifier  %></div>
					
					<div id= "space"><%= f.label "Ville de naissance" %><br />
					<%= collection_select(:post, :city_id, @cities, :id, :city_name, options ={:prompt => "-Ville de naissance-"}) %></div>
					
					<div id= "space"><%= f.label "Compagnie" %><br />
					<%= collection_select(:post, :company_id, @companies, :id, :company_name, options ={:prompt => "-Compagnie-"}) %></div>
					
					<div id= "space"><%= f.label "Type de temporaire" %><br />
					<%= collection_select(:post, :casual_type_id, @casual_types, :id, :type_name, options ={:prompt => "-Type de temporaire-"}) %></div>
					
					<p>
						<div id= "direction">
						<%= f.label 'Direction' %><br />
						<%= collection_select(:post, :direction_id, @directions, :id, :direction_name, options ={:prompt => "-Veuillez choisir une direction-"}) %>
						</div>
					</p>
					<p>
						<div id= "workshop">
						<%= f.label 'Atelier' %><br />
						<%= select_tag "workshop_name", options_for_select(["-Veuillez choisir un atelier-"], "-Veuillez choisir un atelier-") %>
						</div>
					</p>					
					<br />
  				<%= f.submit "Enregistrer", :class => 'submit button large ui-corner-all', :disable_with => 'Patientez...' %>

				<% end %>
			</div>
		</div>
	</div>

<div class="column_large">
 	<div class="portlet" id="widget-2">
		<div class="portlet-header">Visualisation</div>
		<div class="portlet-content">
			<div class="radio_button">
		    <label>Tous</label>&nbsp;&nbsp;<%= radio_button_tag 'status', 'all', { :checked => true } %> 
				<label>Expirés</label>&nbsp;&nbsp;<%= radio_button_tag 'status', 'expired' %> 
				<label>Retirés du pointage</label>&nbsp;&nbsp;<%= radio_button_tag 'status', 'retired' %> 
				<label>Recherche: </label><%= text_field_tag("search", '', :autocomplete => 'off') %>
			</div>
			<br />  		
			
			<div id="result">
		
			</div>
		</div>		
	</div>
</div>
